/* font-family: 'DM Serif Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --background-color: whitesmoke;
  --primary-color: #e8ccea;
  --secondary-color: #cfd764;
  --accent-color: #035549;
  --secondary-accent-color: #e9f3e8;
  --primary-font-family: "DM Serif Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  #about-content p {
    font-size: 10pt;
  }
}

.navbar-brand {
  font-family: var(--primary-font-family);
  font-size: 12pt;
  color: var(--primary-color);
}
.navbar-brand:hover {
  color: var(--primary-color);
}

.nav-link,
.nav-link .active {
  font-family: var(--secondary-font-family);
  color: var(--accent-color);
  font-size: 11pt;
}

.nav-link:hover,
.nav-link.active {
  color: var(--secondary-color);
}
.landing {
  background-color: var(--background-color);
  padding: 160px 20px;
  display: block;
  text-align: center;
}

.landing h1 {
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  font-size: 48pt;
  display: block;
  text-align: center;
}

.landing h2,
p {
  font-family: var(--secondary-font-family);
  color: var(--secondary-color);
  font-size: 18pt;
  display: block;
  text-align: center;
  margin: 30px;
}

.landing h2 {
  font-weight: bold;
  font-size: 28px;
}
.button-accent {
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 15px 30px;
  color: var(--secondary-accent-color);
  margin: 20px;
}

.button-accent:hover {
  background: var(--secondary-accent-color);
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.card-title {
  color: var(--accent-color);
  font-family: var(--primary-font-family);
}

.card {
  border-color: var(--accent-color);
}

.card-text {
  font-size: 18px;
}
.card-button {
  display: block;
  text-align: center;
}
.card-body {
  background: var(--background-color);
}

#featured {
  font-family: var(--primary-font-family);
  color: var(--primary-color);
}

#github-icon {
  display: block;
  text-align: center;
  margin: 30px;
}

#git-link {
  text-decoration: none;
}

.about-section {
  display: block;
  text-align: center;
  font-size: 12px;
  background-color: var(--background-color);
  padding: 100px 20px;
}

.about-section h1 {
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  font-size: 80px;
  margin-bottom: 20px;
}

.about-section h2 {
  font-family: var(--secondary-font-family);
  color: var(--accent-color);
}

.about-section p {
  font-size: 28px;
  padding: 20px;
}

#about-image {
  border-radius: 150px 150px 4px 4px;
  margin: 0 auto;
  padding-top: 20px;
  max-width: 300px;
  text-align: center;
  display: block;
}
.work-section {
  font-size: 12px;
  background-color: var(--background-color);
  padding: 80px 30px;
}

.work-section h1 {
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  font-size: 48px;
}

.work-section h3 {
  font-family: var(--primary-font-family);
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 18px;
  color: var(--accent-color);
}

.work-section p {
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 20px;
  margin: 0 auto;
}

.work-section img {
  max-width: 400px;
}

.form-label {
  font-family: var(--secondary-font-family);
  color: var(--secondary-color);
  font-weight: bold;
}
